<section class="max-w-7xl px-4 m-auto">
    <div class="single grid grid-cols-10 pt-[125px] pb-[125px] border-b border-muted-700">
        <div class="col-span-3 col-start-1">
            {{ image }}
            <img class="w-full rounded-lg mb-12" src="{{ glide:url q="80" fm="webp" square="350" }}" alt="{{ alt }}"/>
            {{ /image }}
            <div class="text-left font-bold text-h4">
                <h4 class="uppercase">
                    Listen Now
                </h4>
                {{ footer:footer_nav }}
                <ul class="grid gap-8 grid-flow-col justify-start py-4">
                    {{ nav :handle="handle" }}
                    <li class=" col-auto">
                        <a href="{{ url }}" class="h-[28px] w-[28px] fill-white" title="{{ title }}" target="_blank">
                            {{ svg :src="icon" class="fill-white w-8 h-8" }}
                        </a>
                    </li>
                    {{ /nav }}
                </ul>
                {{ /footer:footer_nav }}
            </div>
        </div>
        <div class="col-span-6 col-start-5">
            <h1 class="text-h2 uppercase font-black mb-12 ">
                {{ title }}
            </h1>
            <div class="content text-base mb-20">
                {{ content }}
            </div>
            {{ spotify }}
        </div>
    </div>
</section>
