<section class="max-w-7xl px-4 m-auto">
    <div
        class="grid grid-cols-10 m-auto text-center justify-center relative pt-[125px] pb-[125px] overflow-hidden border-b border-muted-500"
        x-data="{ about: false }"
        x-intersect.threshold.80="about = true">
        <h2 class="text-h2 uppercase text-secondary mb-5 col-span-full opacity-0 translate-y-[-20%]"
            data-animate="to:opacity-1|yPercent-20|scrollTrigger.trigger-[&]|scrollTrigger.start-[top_bottom]">
            {{headline}}
        </h2>

        <div class="mb-12 col-span-6 col-start-3 opacity-0 translate-y-[-10%]"
             data-animate="to:opacity-1|yPercent-10|scrollTrigger.trigger-[&]|scrollTrigger.start-[top_bottom]">
            <p>{{description}}</p>
        </div>

        <div class="col-span-full text-center mb-20 opacity-0 translate-y-[-10%]"
             data-animate="to:opacity-1|yPercent-10|scrollTrigger.trigger-[&]|scrollTrigger.start-[top_bottom]">
            {{if call_to_action}}
                <a class="button" href="{{ call_to_action }}">More Info</a>
            {{ endif }}
        </div>
        {{  if media }}
            <div class="grid grid-cols-8 auto-cols-fr auto-rows-fr grid-rows-8 col-start-2 col-span-full relative">
                {{ media:primary }}
                <div class="col-span-6 col-start-1 row-span-7 row-start-1 opacity-0 translate-y-[-10%]"
                     data-animate="to:opacity-1|yPercent-10|scrollTrigger.trigger-[&]|scrollTrigger.start-[top_bottom]">
                    <img class="w-full rounded" src="{{ glide:url w="860" q="75" fm="webp" }}" alt="{{ alt }}"/>
                </div>
                {{ /media:primary }}
                {{ media:secondary }}
                <div class="col-span-4 col-start-4 row-span-5 row-start-5 opacity-0 translate-y-[10%]"
                     data-animate="to:opacity-1|yPercent-[-10]|scrollTrigger.trigger-[&]|scrollTrigger.start-[top_bottom]">
                    <img class="w-full rounded" src="{{ glide:url height="400" fit="crop" q="75" fm="webp" }}" alt="{{ alt }}"/>
                </div>
                {{ /media:secondary }}
            </div>
        {{ endif }}

        <div
            class="text-big uppercase font-black text-center w-full text-muted-700 z-[-1] absolute bottom-[-3%] opacity-0"
            data-animate="to:opacity-1|scrollTrigger.trigger-[&]|scrollTrigger.start-[top_bottom]">
            {{ big_text }}
        </div>
        <div class=" 1-full h-[1px]"></div>
    </div>
</section>
