<section
    class="grid auto-cols-auto m-auto px-4 justify-center relative py-[125px] overflow-hidden border-b border-muted-700"
    x-data="{ shown: false, album: false }"
    x-intersect.threshold.80="album = true"
    x-intersect.threshold.100="shown = true">
    <h2 class="text-h2 uppercase text-secondary font-black mb-5 col-span-12 col-start-2"
        x-cloak
        x-show="shown"
        x-transition:enter.duration.800ms
        x-transition:leave.duration.400ms>
        {{headline}}
    </h2>

    <div class="mb-5 col-span-3 col-start-2"
         x-cloak
         x-show="shown"
         x-transition:enter.duration.800ms
         x-transition:leave.duration.400ms>
        <p>{{description}}</p>
    </div>
    {{if albums}}
        <div class="col-span-10 col-start-2 mb-8 py-8 rounded-2xl"
             x-cloak
             x-show="album"
             x-transition:enter.duration.1200ms
             x-transition:leave.duration.400ms>
            <div class="grid gap-6 grid-cols-4">
                {{ albums }}
                {{ partial src="parts/album-vertical" }}
                {{ /albums }}
            </div>
        </div>
    {{ endif }}

    <div class="col-span-10 col-start-2 text-center" x-cloak x-show="shown"
         x-transition:enter.duration.800ms
         x-transition:leave.duration.400ms>
        {{if call_to_action}}
            <a class="button" href="{{ call_to_action }}">See Albums</a>
        {{ endif }}
    </div>

    <div class="text-big uppercase font-black text-center w-full text-muted-700 z-[-1] absolute bottom-[-4%]"
         x-cloak x-show="shown"
         x-transition:enter.duration.800ms
         x-transition:leave.duration.400ms>
        {{ big_text }}
    </div>
    <div class=" 1-full h-[1px]"></div>
</section>
