<section
    class="grid grid-cols-10 m-auto text-center justify-center relative py-[125px] overflow-hidden border-b border-muted-700"
    x-data="{ shown: false, album: false }"
    x-intersect.threshold.80="album = true"
    x-intersect.threshold.100="shown = true">
    <h2 class="text-h2 text-secondary font-black mb-5 col-span-full"
        x-cloak
        x-show="shown"
        x-transition:enter.duration.800ms
        x-transition:leave.duration.400ms>
        {{headline}}
    </h2>

    <div class="mb-5 col-span-6 col-start-3"
         x-cloak
         x-show="shown"
         x-transition:enter.duration.800ms
         x-transition:leave.duration.400ms>
        <p>{{description}}</p>
    </div>

    {{  }}

    <div class="col-span-full text-center" x-cloak x-show="shown"
         x-transition:enter.duration.800ms
         x-transition:leave.duration.400ms>
        {{if call_to_action}}
            <a class="button" href="{{ call_to_action }}">See Albums</a>
        {{ endif }}
    </div>

    <div class="text-big uppercase font-black text-center w-full text-muted-700 z-[-1] absolute bottom-[-4%]"
         x-cloak x-show="shown"
         x-transition:enter.duration.800ms
         x-transition:leave.duration.400ms>
        {{ big_text }}
    </div>
    <div class=" 1-full h-[1px]"></div>
</section>
