@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

[x-cloak] { display: none !important; }

.button {
    padding: 14px 28px;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #1b1b1f;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    transition: color 350ms ease, transform 300ms ease, background-color 300ms ease;
}

.button:hover {
    background-color: #e57259;
    transform: scale(0.94);
    color: #fff;
}
