@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

[x-cloak] {
    display: none !important;
}

.button {
    padding: 14px 28px;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #1b1b1f;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    transition: color 350ms ease, transform 300ms ease, background-color 300ms ease;
    display: inline-block;
}

.button:hover {
    background-color: #e57259;
    transform: scale(0.94);
    color: #fff;
}

.hero__bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgb(131, 58, 180);
    background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(166, 50, 137, 1) 0%, rgba(252, 176, 69, 1) 100%);
    opacity: 0.75;
    z-index: 1;
}

.markdown p {
    margin-bottom: 1.5rem;
}

.markdown blockquote {
    border-left: .25rem solid #c4c4c8;
    padding: .25rem 0 .25rem 3rem;
    color: #c4c4c8
}

.pill-tab {
    display: block;
    outline: none;
    border-radius: 25px;
    padding: 2px 16px;
    font-size: 13px;
    margin-right: 8px;
}
