<div class="col-auto rounded-lg p-2 bg-muted-700 overflow-hidden" x-cloak x-show="shown"
     x-transition:enter.duration.800ms
     x-transition:leave.duration.400ms>
    <div class="image">
        {{ image }}
            <img class="rounded-lg" src="{{ glide:url q="80" fm="webp" square="350" }}" alt="{{ alt }}"/>
        {{ /image }}
    </div>
    <div class="image p-4 text-center">
        <p class="text-sm text-muted-500">
            {{ release_year ?? "2019" }}
        </p>
        <h3 class="text-h3 font-bold py-2 h-18">{{ title }}</h3>
    </div>
</div>
